<h2 class="title is-2">Список пилотов</h2>

<button class="button" type="button" routerLink="/pilots/new">Добавиь пилота</button>
<hr>

<div class="grid is-col-min-12">
  <div class="cell" *ngFor="let pilot of pilots">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img class="is-rounded"
               src="https://bulma.io/assets/images/placeholders/128x128.png"
               alt="Placeholder image"/>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ pilot.name }}</p>
            <p class="subtitle is-6">Количество полетов: {{ countFlights[pilot.id] }}</p>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-info is-small" routerLink="/pilots/edit/{{pilot.id}}">Редактировать</button>
          <button class="button is-danger is-small" (click)="deletePilot(pilot)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
